/*sliderphoto*/
.img-1{
  background-image: url("../html/news/img/lashkonews.jpeg");
}
.img-2{
  background-image: url("../html/news/img/booknews.png");
}
.img-3{
  background-image: url("../html/news/img/covid.jpeg");
}
.img-4{
  background-image: url("../html/news/img/img4.png");
}
.img-5{
  background-image: url("../html/news/img/img5.png");
}
.img-6{
  background-image: url("../html/news/img/img6.png");
}
.img-7{
  background-image: url("../html/news/img/img7.png");
}
.img-8{
  background-image: url("../html/news/img/img8.png");
}
.img-9{
  background-image: url("../html/news/img/img9.png");
}
.img-10{
  background-image: url("../html/news/img/img10.png");
}
.img-11{
  background-image: url("../html/news/img/img11.png");
}
.img-12{
  background-image: url("../html/news/img/img12.png");
}
.img-13{
  background-image: url("../html/news/img/img13.png");
}
.img-14{
  background-image: url("../html/news/img/img14.png");
}
.img-15{
  background-image: url("../html/news/img/img15.jpeg");
}
.img-16{
  background-image: url("../html/news/img/img16.jpeg");
}
.img-17{
  background-image: url("../html/lviv/img/img17.jpg");
}
.img-18{
  background-image: url("../html/lviv/img/img18.jpg");
}
.img-19{
  background-image: url("../html/lviv/img/img19.jpg");
}
.img-20{
  background-image: url("../html/lviv/img/img20.jpg");
}
.img-21{
  background-image: url("../html/lviv/img/img21.jpg");
}
.img-22{
  background-image: url("../html/lviv/img/img22.jpg");
}
.img-23{
  background-image: url("../html/lviv/img/img23.jpg");
}
.img-24{
  background-image: url("../html/lviv/img/img24.jpg");
}
.img-25{
  background-image: url("../html/lviv/img/img25.jpg");
}
.img-26{
  background-image: url("../html/lviv/img/img26.jpg");
}
.img-27{
  background-image: url("../html/lviv/img/img27.jpg");
}
.img-28{
  background-image: url("../html/lviv/img/img28.jpg");
}
.img-29{
  background-image: url("../html/lviv/img/img29.jpg");
}
.img-30{
  background-image: url("../html/lviv/img/img30.jpg");
}
.img-31{
  background-image: url("../html/lviv/img/img31.jpg");
}
.img-32{
  background-image: url("../html/lviv/img/img32.jpg");
}
.img-33{
  background-image: url("../html/lviv/img/img33.jpg");
}
.img-34{
  background-image: url("../html/lviv/img/img34.jpg");
}
.img-35{
  background-image: url("../html/lviv/img/img35.jpg");
}
.img-36{
  background-image: url("../html/lviv/img/img36.jpg");
}
.img-37{
  background-image: url("../html/lviv/img/img37.jpg");
}
.img-38{
  background-image: url("../html/lviv/img/img38.jpg");
}
.img-39{
  background-image: url("../html/lviv/img/img39.jpg");
}
.img-40{
  background-image: url("../html/lviv/img/img40.jpg");
}
.img-41{
  background-image: url("../html/lviv/img/img41.jpg");
}
.img-42{
  background-image: url("../html/lviv/img/img42.jpg");
}
.img-43{
  background-image: url("../html/lviv/img/img43.jpg");
}
.img-44{
  background-image: url("../html/tehcno/img/img44.jpg");
}
.img-45{
  background-image: url("../html/tehcno/img/img45.jpg");
}
.img-46{
  background-image: url("../html/tehcno/img/img46.jpg");
}
.img-47{
  background-image: url("../html/tehcno/img/img47.jpg");
}
.img-48{
  background-image: url("../html/tehcno/img/img48.png");
}
.img-49{
  background-image: url("../html/tehcno/img/img49.jpg");
}
.img-50{
  background-image: url("../html/tehcno/img/img50.jpg");
}
.img-51{
  background-image: url("../html/tehcno/img/img51.jpg");
}
.img-52{
  background-image: url("../html/tehcno/img/img52.jpg");
}
.img-53{
  background-image: url("../html/tehcno/img/img53.jpg");
}
.img-54{
  background-image: url("../html/tehcno/img/img54.jpg");
}
.img-55{
  background-image: url("../html/tehcno/img/img55.jpg");
}
.img-56{
  background-image: url("../html/tehcno/img/img56.jpg");
}
.img-57{
  background-image: url("../html/tehcno/img/img57.jpg");
}
.img-58{
  background-image: url("../html/tehcno/img/img58.jpg");
}
.img-59{
  background-image: url("../html/tehcno/img/img59.jpg");
}
.img-60{
  background-image: url("../html/tehcno/img/img60.jpg");
}
.img-61{
  background-image: url("../html/tehcno/img/img61.jpg");
}
.img-62{
  background-image: url("../html/tehcno/img/img62.png");
}
.img-63{
  background-image: url("../html/tehcno/img/img63.jpg");
}
.img-64{
  background-image: url("../html/tehcno/img/img64.jpg");
}
.img-65{
  background-image: url("../html/tehcno/img/img65.jpg");
}
.img-66{
  background-image: url("../html/tehcno/img/img66.jpg");
}
.img-67{
  background-image: url("../html/tehcno/img/img67.jpg");
}
.img-68{
  background-image: url("../html/education/img/img68.jpg");
}
.img-69{
  background-image: url("../html/education/img/img69.jpg");
}
.img-70{
  background-image: url("../html/education/img/img70.jpg");
}
.img-71{
  background-image: url("../html/education/img/img71.jpg");
}
.img-72{
  background-image: url("../html/education/img/img72.jpg");
}
.img-73{
  background-image: url("../html/education/img/img73.jpg");
}
.img-74{
  background-image: url("../html/education/img/img74.jpg");
}
.img-75{
  background-image: url("../html/education/img/img75.jpg");
}
.img-76{
  background-image: url("../html/education/img/img76.jpg");
}
.img-77{
  background-image: url("../html/education/img/img77.jpg");
}
.img-78{
  background-image: url("../html/education/img/img78.jpg");
}
.img-79{
  background-image: url("../html/education/img/img79.jpg");
}
.img-80{
  background-image: url("../html/education/img/img80.jpg");
}
.img-81{
  background-image: url("../html/education/img/img81.jpg");
}
.img-82{
  background-image: url("../html/education/img/img82.jpg");
}
.img-83{
  background-image: url("../html/education/img/img83.jpg");
}
.img-84{
  background-image: url("../html/education/img/img84.jpg");
}
.img-85{
  background-image: url("../html/auto/img/img85.jpeg");
}
.img-86{
  background-image: url("../html/auto/img/img86.jpeg");
}
.img-87{
  background-image: url("../html/auto/img/img87.jpg");
}
.img-88{
  background-image: url("../html/auto/img/img88.jpg");
}
.img-89{
  background-image: url("../html/auto/img/img89.jpg");
}
.img-90{
  background-image: url("../html/auto/img/img90.jpg");
}
.img-91{
  background-image: url("../html/auto/img/img91.jpg");
}
.img-92{
  background-image: url("../html/auto/img/img92.jpg");
}
.img-93{
  background-image: url("../html/auto/img/img93.jpg");
}
.img-94{
  background-image: url("../html/auto/img/img94.jpg");
}
.img-95{
  background-image: url("../html/auto/img/img95.jpg");
}
.img-96{
  background-image: url("../html/auto/img/img96.jpg");
}
.img-97{
  background-image: url("../html/auto/img/img97.jpg");
}
.img-98{
  background-image: url("../html/auto/img/img98.jpg");
}
.img-99{
  background-image: url("../html/auto/img/img99.jpg");
}
.img-100{
  background-image: url("../html/auto/img/img100.jpg");
}
.img-101{
  background-image: url("../html/auto/img/img101.jpg");
}
.img-102{
  background-image: url("../html/auto/img/img102.jpg");
}
.img-103{
  background-image: url("../html/auto/img/img103.jpg");
}
.img-104{
  background-image: url("../html/auto/img/img104.jpg");
}
.img-105{
  background-image: url("../html/auto/img/img105.jpg");
}
.img-106{
  background-image: url("../html/auto/img/img106.jpg");
}
.img-107{
  background-image: url("../html/auto/img/img107.jpg");
}
.img-108{
  background-image: url("../html/auto/img/img108.jpg");
}
.img-109{
  background-image: url("../html/auto/img/img109.jpg");
}
.img-110{
  background-image: url("../html/auto/img/img110.jpeg");
}
.img-111{
  background-image: url("../html/auto/img/img111.jpeg");
}
.img-112{
  background-image: url("../html/auto/img/img112.jpeg");
}
